!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MsChallenge
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'application/favicon'
  %body
    .p-6.max-w-sm.mx-auto.bg-white.rounded-xl.shadow-md.flex.items-center.space-x-4
      = link_to recipes_path do
        = image_tag '/ms_logo.png'

    = yield
